<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TinySchedule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED0E1A1D1EA447B8004D1884</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED0E1A391EA447B8004D1884</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED0E1A441EA447B8004D1884</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
