<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>0 hours before my shift</string>
	<string>1 hours before my shift</string>
	<string>2 hours before my shift</string>
	<string>3 hours before my shift</string>
	<string>4 hours before my shift</string>
	<string>5 hours before my shift</string>
	<string>6 hours before my shift</string>
	<string>7 hours before my shift</string>
	<string>8 hours before my shift</string>
	<string>9 hours before my shift</string>
	<string>10 hours before my shift</string>
	<string>11 hours before my shift</string>
	<string>12 hours before my shift</string>
	<string>13 hours before my shift</string>
	<string>14 hours before my shift</string>
	<string>15 hours before my shift</string>
	<string>16 hours before my shift</string>
	<string>17 hours before my shift</string>
	<string>18 hours before my shift</string>
	<string>19 hours before my shift</string>
	<string>20 hours before my shift</string>
	<string>21 hours before my shift</string>
	<string>22 hours before my shift</string>
	<string>23 hours before my shift</string>
	<string>24 hours before my shift</string>
</array>
</plist>
