<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>12:00 a.m.</string>
	<string>12:15 a.m.</string>
	<string>12:30 a.m.</string>
	<string>12:45 a.m.</string>
	<string>1:00 a.m.</string>
	<string>1:15 a.m.</string>
	<string>1:30 a.m.</string>
	<string>1:45 a.m.</string>
	<string>2:00 a.m.</string>
	<string>2:15 a.m.</string>
	<string>2:30 a.m.</string>
	<string>2:45 a.m.</string>
	<string>3:00 a.m.</string>
	<string>3:15 a.m.</string>
	<string>3:30 a.m.</string>
	<string>3:45 a.m.</string>
	<string>4:00 a.m.</string>
	<string>4:15 a.m.</string>
	<string>4:30 a.m.</string>
	<string>4:45 a.m.</string>
	<string>5:00 a.m.</string>
	<string>5:15 a.m.</string>
	<string>5:30 a.m.</string>
	<string>5:45 a.m.</string>
	<string>6:00 a.m.</string>
	<string>6:15 a.m.</string>
	<string>6:30 a.m.</string>
	<string>6:45 a.m.</string>
	<string>7:00 a.m.</string>
	<string>7:15 a.m.</string>
	<string>7:30 a.m.</string>
	<string>7:45 a.m.</string>
	<string>8:00 a.m.</string>
	<string>8:15 a.m.</string>
	<string>8:30 a.m.</string>
	<string>8:45 a.m.</string>
	<string>9:00 a.m.</string>
	<string>9:15 a.m.</string>
	<string>9:30 a.m.</string>
	<string>9:45 a.m.</string>
	<string>10:00 a.m.</string>
	<string>10:15 a.m.</string>
	<string>10:30 a.m.</string>
	<string>10:45 a.m.</string>
	<string>11:00 a.m.</string>
	<string>11:15 a.m.</string>
	<string>11:30 a.m.</string>
	<string>11:45 a.m.</string>
	<string>12:00 p.m.</string>
	<string>12:15 p.m.</string>
	<string>12:30 p.m.</string>
	<string>12:45 p.m.</string>
	<string>1:00 p.m.</string>
	<string>1:15 p.m.</string>
	<string>1:30 p.m.</string>
	<string>1:45 p.m.</string>
	<string>2:00 p.m.</string>
	<string>2:15 p.m.</string>
	<string>2:30 p.m.</string>
	<string>2:45 p.m.</string>
	<string>3:00 p.m.</string>
	<string>3:15 p.m.</string>
	<string>3:30 p.m.</string>
	<string>3:45 p.m.</string>
	<string>4:00 p.m.</string>
	<string>4:15 p.m.</string>
	<string>4:30 p.m.</string>
	<string>4:45 p.m.</string>
	<string>5:00 p.m.</string>
	<string>5:15 p.m.</string>
	<string>5:30 p.m.</string>
	<string>5:45 p.m.</string>
	<string>6:00 p.m.</string>
	<string>6:15 p.m.</string>
	<string>6:30 p.m.</string>
	<string>6:45 p.m.</string>
	<string>7:00 p.m.</string>
	<string>7:15 p.m.</string>
	<string>7:30 p.m.</string>
	<string>7:45 p.m.</string>
	<string>8:00 p.m.</string>
	<string>8:15 p.m.</string>
	<string>8:30 p.m.</string>
	<string>8:45 p.m.</string>
	<string>9:00 p.m.</string>
	<string>9:15 p.m.</string>
	<string>9:30 p.m.</string>
	<string>9:45 p.m.</string>
	<string>10:00 p.m.</string>
	<string>10:15 p.m.</string>
	<string>10:30 p.m.</string>
	<string>10:45 p.m.</string>
	<string>11:00 p.m.</string>
	<string>11:15 p.m.</string>
	<string>11:30 p.m.</string>
	<string>11:45 p.m.</string>
</array>
</plist>
