<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>none</string>
	<string>15 min</string>
	<string>30 min</string>
	<string>45 min</string>
	<string>1 hour</string>
	<string>1 hour 15 min</string>
	<string>1 hour 30 min</string>
	<string>1 hour 45 min</string>
	<string>2 hours</string>
</array>
</plist>
